[package]
name = "whisky-wallet"
version = "1.0.16"
edition = "2021"
license = "Apache-2.0"
description = "The Cardano Rust SDK, inspired by MeshJS"
readme = "../../README.md"
authors = ["Wu Tsz Wai <tszwai@deltadefi.io>", "Hinson Wong <hinson.wong@deltadefi.io>"]

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
hex = "0.4"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0.136"
uplc = "=1.1.10"
whisky-csl = { version = "1.0.16", path = "../whisky-csl" }
whisky-common = { version = "1.0.16", path = "../whisky-common" }
tiny-bip39 = "2.0.0"
rand = "0.8"
aes-gcm = "0.10.3"
pbkdf2 = "0.12.2"
sha2 = "0.10.8"
base64 = "0.22.1"

[profile.release]
# Tell `rustc` to optimize for small code size.
codegen-units = 1
opt-level = "s"
incremental = true
lto = true

[dev-dependencies]
dotenv = "0.15.0"
whisky-provider = { path = "../whisky-provider" }
tokio = { version = "1.38.0", features = ["macros", "rt-multi-thread"] }
