[package]
name = "whisky-csl"
version = "1.0.17"
edition = "2021"
license = "Apache-2.0"
description = "Wrapper around the cardano-serialization-lib for easier transaction building, heavily inspired by cardano-cli APIs"
readme = "../../README.md"
authors = ["Wu Tsz Wai <tszwai@deltadefi.io>", "Hinson Wong <hinson.wong@deltadefi.io>"]

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
getrandom = { version = "0.2", features = ["js"] }
cardano-serialization-lib = "=15.0.0-beta.1"
hex = "0.4"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
cryptoxide = "0.4.4"
serde-wasm-bindgen = "0.6.5"
schemars = "0.8.8"
whisky-common = { version = "1.0.17", path = "../whisky-common" }

# non-wasm
[target.'cfg(not(all(target_arch = "wasm32", not(target_os = "emscripten"))))'.dependencies]
uplc = "=1.1.10"
wasm-bindgen = { version = "=0.2.92", features = ["serde-serialize"] }
rand_os = "0.1"
noop_proc_macro = "0.3.0"
pallas-codec = { version = "0.31.0", features = ["num-bigint"] }
pallas-primitives = "0.31.0"
pallas-traverse = "0.31.0"
cquisitor-lib = "0.1.0-beta.25"

# wasm
[target.'cfg(all(target_arch = "wasm32", not(target_os = "emscripten")))'.dependencies]
serde-wasm-bindgen = "0.4.5"
uplc = "=1.1.10"
wasm-bindgen = { version = "=0.2.92", features = ["serde-serialize"] }
rand_os = { version = "0.1", features = ["wasm-bindgen"] }
js-sys = "=0.3.69"
wasm-bindgen-futures = "=0.4.40"
pallas-codec = { version = "0.31.0", features = ["num-bigint"] }
pallas-primitives = "0.31.0"
pallas-traverse = "0.31.0"
cquisitor-lib = "0.1.0-beta.25"

[profile.release]
# Tell `rustc` to optimize for small code size.
codegen-units = 1
opt-level = "s"
incremental = true
lto = true
