[package]
name = "whisky-provider"
version = "1.0.22"
edition = "2021"
license = "Apache-2.0"
description = "The Cardano Rust SDK, inspired by MeshJS"
readme = "../../README.md"
authors = ["Wu Tsz Wai <tszwai@deltadefi.io>", "Hinson Wong <hinson.wong@deltadefi.io>"]

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
hex = "0.4"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
async-trait = "0.1.79"
uplc = "=1.1.10"
maestro-rust-sdk = "1.1.3"
whisky-csl = { version = "1.0.22", path = "../whisky-csl" }
whisky-common = { version = "1.0.22", path = "../whisky-common" }
reqwest = "0.12.5"
futures = "0.3.31"

[profile.release]
# Tell `rustc` to optimize for small code size.
codegen-units = 1
opt-level = "s"
incremental = true
lto = true

[dev-dependencies]
dotenv = "0.15.0"
tokio = { version = "1.38.0", features = ["macros", "rt-multi-thread"] }
